{% extends 'base.html' %}
{% block content %}
    <form action="">
        <div class="mb-3">
            <label class="form-label">Search for Movie:</label>
            <input type="text" name="search-movie" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <p>You searched for {{ search_term }}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col" v-for="movie in movies">
            <div class="card">
                <img src="{{ movie.image.url }}" alt="{{ movie.title }} poster" class="card-img-top" />
                <div class="card-body">
                    <a href="{% url 'detail' movie.id %}">
                        <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    </a>                    
                    <p class="card-text">{{ movie.description }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">Movie Link (imdb)</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}